<a href="https://colab.research.google.com/github/flavio-dalla/ENG_20242/blob/main/Atividade1/atv_conjunto_24102024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Crie uma lista contendo cinco números inteiros de sua escolha. Em seguida, percorra essa lista e imprima o valor de cada elemento multiplicado por 2. O resultado deve mostrar o novo valor de cada elemento, um por vez
lista = [1,2,3,4,5]
print([x*2 for x in lista])

[2, 4, 6, 8, 10]

In [1]:
#2. Dada a lista ["maçã", "banana", "laranja", "uva"], remova o item "banana" da lista e adicione a fruta "melancia" no lugar. Depois, mostre a nova lista atualizada com as alterações feitas.
lista = ["maçã", "banana", "laranja", "uva"]
lista[lista.index('banana')] = 'melancia'
print(lista)

['maçã', 'melancia', 'laranja', 'uva']

In [2]:
#3. Escreva um programa que receba uma lista de números inteiros e exiba qual é o maior número e qual é o menor número presente na lista. Certifique-se de mostrar ambos os valores ao final.
lista = [0,1,2,3,4,5,6,7,8,9]
print(f"Max: {min(lista)} - Min: {max(lista)}")

Max: 0 - Min: 9

In [3]:
#4. Crie uma função que receba uma lista contendo várias palavras (strings). A função deve devolver uma nova lista que contenha a quantidade de letras de cada palavra da lista original. Exiba essa nova lista com o número de letras correspondente a cada palavra.
palavras = ['Espanhol','Francês','Austrália','Suíça']
qtd_letras = []
for i in palavras:
  qtd_letras.append(len(i))
print(qtd_letras)

[8, 7, 9, 5]

In [4]:
#5. Dada uma lista de números inteiros que você vai definir, ordene essa lista em ordem crescente e depois exiba o resultado da lista ordenada.
numeros = [1,7,5,3,6,8,9,3,67]
numeros.sort()
print(numeros)

[1, 3, 3, 5, 6, 7, 8, 9, 67]

In [5]:
#6. Crie uma tupla que contenha os números de 1 a 5. Tente alterar o valor do segundo elemento dessa tupla e observe o que acontece. No final, explique por que você conseguiu ou não modificar o valor.
tupla = (1,2,3,4,5)
# tupla[0] = 2
print(tupla)
#tuplas são imutáveis!

(1, 2, 3, 4, 5)

In [6]:
#7. Escreva um programa que receba uma tupla contendo diversos números inteiros. O programa deve calcular e exibir a soma de todos os números presentes na tupla.
tuplas = (1,2,3,4,5,6,7,8,9)
print(sum(tuplas))

45

In [7]:
#8. Dada uma tupla que contém cinco números, crie uma função que retorne o primeiro e o último número dessa tupla. O programa deve imprimir ambos os valores corretamente.
tuplinha = (15,46,21,87,10,2)
print(f'Primeiro: {tuplinha[0]} - Último: {tuplinha[-1]}')

Primeiro: 15 - Último: 2

In [8]:
#9. Converta a lista ["a", "b", "c", "d"] em uma tupla e, em seguida, exiba o tipo do novo objeto que foi criado. O programa deve deixar claro que o tipo mudou de lista para tupla.
lista = ["a", "b", "c", "d"]
tupla = tuple(lista)
print(tupla)

('a', 'b', 'c', 'd')

In [9]:
#10. Crie uma tupla com três números inteiros e uma string. Depois, verifique se o número 3 está presente nessa tupla e mostre uma mensagem dizendo se o número foi encontrado ou não.
tuplete = (54,21,34,"estringue")
if 3 in lista:
  print('3 está na lista.')
else:
  print('3 não está na lista.')

3 não está na lista.

In [12]:
#11. Crie dois sets: set1 = {1, 2, 3, 4} e set2 = {3, 4, 5, 6}. Exiba a união dos dois sets (todos os elementos sem repetição), a interseção (elementos que aparecem nos dois sets) e a diferença (elementos presentes no primeiro set, mas não no segundo). Mostre os resultados de cada operação.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(f'União:      {set1.union(set2)}')
print(f'Interseção: {set1.intersection(set2)}')
print(f'Diferença:  {set1.difference(set2)}')

União:      {1, 2, 3, 4, 5, 6}
Interseção: {3, 4}
Diferença:  {1, 2}

In [15]:
#12. Dada a lista [1, 2, 2, 3, 4, 4, 5], remova os elementos duplicados transformando a lista em um set. Ao final, exiba o set resultante, que deve conter apenas valores únicos.
lista = [1, 2, 2, 3, 4, 4, 5]
lista = set(semdu)
print(semdu)

{1, 2, 3, 4, 5}

In [16]:
#13. Crie um set contendo os valores {5, 10, 15, 20}. Adicione o número 25 a esse set e depois remova o valor 15. Mostre o set após cada alteração.
valores = {5, 10, 15, 20}
print(f'Set sequinho: {valores}')
valores.add(25)
print(f'Set com o 25: {valores}')
valores.remove(15)
print(f'Set sem o 15: {valores}')

Set sequinho: {10, 20, 5, 15}
Set com o 25: {5, 10, 15, 20, 25}
Set sem o 15: {5, 10, 20, 25}

In [17]:
#14. Verifique se o número 7 está presente no set {1, 2, 3, 4, 5}. O programa deve exibir uma mensagem informando se o número foi encontrado ou não no set.
sete = {1, 2, 3, 4, 5}
if 7 in sete:
  print('7 está no set.')
else:
  print('7 não está o set.')

7 não está o set.

In [21]:
#15. Crie um set vazio e adicione vários valores a ele usando um laço de repetição (por exemplo, um for ou while). No final, mostre todos os valores armazenados no set.
vazio = set()
num = 1
while num != 0:
  num = int(input('Adicione um número(0 para parar): '))
  vazio.add(num)
print(vazio)

Adicione um número(0 para parar): 4
Adicione um número(0 para parar): 6
Adicione um número(0 para parar): 2
Adicione um número(0 para parar): 3
Adicione um número(0 para parar): 1
Adicione um número(0 para parar): 0
{0, 1, 2, 3, 4, 6}

In [25]:
#16. Crie um dicionário com os pares chave-valor 'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia'. Adicione uma nova chave 'universidade': 'USP' ao dicionário. Em seguida, exiba o dicionário completo com todas as informações.
cadastro = {'nome' : 'Ana','idade': 22,'curso': 'Engenharia'}
cadastro['universidade'] = 'USP'
print(cadastro)

{'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia', 'universidade': 'USP'}

In [29]:
#17. Escreva um programa que percorra um dicionário com várias chaves e valores. Para cada par, imprima a chave e o valor no formato: Chave: X, Valor: Y. O dicionário pode conter qualquer informação que você preferir.
cradrasto = {'nome' : 'Ana','idade': 22,'curso': 'Engenharia','universidade' : 'USP'}
for first, second in cradrasto.items():
  print(f"{first}: {second}")

nome: Ana
idade: 22
curso: Engenharia
universidade: USP

In [33]:
#18. Crie um dicionário que relacione nomes de alunos às suas notas. Depois, crie uma função que calcule e exiba a média das notas desses alunos com base nas informações do dicionário.
notas = {'Ryan' : [10,8,7,6], 'Senhor' : [5,9,4,10]}
for i in notas:
  print(i,sum(notas[i])/len(notas[i]))

Ryan 7.75
Senhor 7.0

In [37]:
#19. Escreva um programa que permita ao usuário buscar o valor de uma chave específica em um dicionário. Caso a chave não exista, o programa deve exibir uma mensagem dizendo que a chave não foi encontrada. Teste o programa com diferentes chaves.
cradrasto = {'nome' : 'Ana','idade': 22,'curso': 'Engenharia','universidade' : 'USP'}
busca = input("Digite o que deseja buscar: ")
if busca in cradrasto:
  print(f'{busca}: {cradrasto[busca]}')
else:
  print('Não foi posível encontrar sua busca.')

Digite o que deseja buscar: idade
idade: 22

In [41]:
#20. Dado um dicionário que contém produtos e seus respectivos preços, como {'pão': 2.50, 'leite': 3.00, 'café': 4.50}, permita que o usuário altere o preço de um dos produtos e exiba o dicionário atualizado com o novo valor.
padarola = {'pão': 2.50, 'leite': 3.00, 'café': 4.50}
for i in padarola:
  print(i)
alteracao = input('Qual quer alterar: ')
print(f'Preço atual do {alteracao}: {padarola[alteracao]}')
nvPreco = float(input('Novo preço: '))
padarola[alteracao] = nvPreco
print(padarola)

pão
leite
café
Qual quer alterar: leite
Preço atual do leite: 3.0
Novo preço: 9
{'pão': 2.5, 'leite': 9.0, 'café': 4.5}